<div class="shadowed-form">
  <table class="table table-bordered table-striped table-hover table-condensed">
    <thead>
      <tr>
        <th>#</th>
        <th>Crew Name</th>
        <th>Native Name</th>
        <th>Crew Lead</th>
        <th>Email</th>
        <th>Total (A/C/B)</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @crews.each.with_index do |crew, idx| %>
        <tr><%= render 'crew', crew: crew, index: idx %></tr>
      <% end %>
    </tbody>
  </table>
</div>
