- provide :view, :crews
- provide :title, 'All Crews'

.ibox.float-e-margins
  = render 'shared/panel_header', title: 'Blue Trolley Crews', subtitle: 'contains all crews for Blue Trolley events, parties, or concerts'

  .ibox-content
    = render 'crews'
    = link_to new_crew_path, class: 'btn btn-primary' do
      %i.fa.fa-user-plus
      New Crew
