<% provide(:title, 'Home') %>
<div>
	<h1>13th Blue Trolley event is coming!</h1>
  <br/>
	<p>
    <strong>When:</strong> Friday, September 26, 2014 3:00 pm to Sunday, September 28, 2014.<br/>
    <strong>Where:</strong> Delaware Water Gap Campground KOA (120 miles from NYC).
  </p>
  <p>Any questions? Please contact <%= link_to 'bluetrolleyclub@yahoo.com', "mailto:bluetrolleyclub@yahoo.com" %></p>
  <br/>
	<%= link_to "Register now!", signup_path, class: "btn btn-primary btn-lg" %>
  <%= link_to "Event announcement", announcement_path, target: '_blank',  class: "btn btn-info btn-lg" %>
</div>
