<div>
	<h2>Blue Troll</h2>
	<p>The WEB application allowing to manage participants and support ticket distribution for Blue Trolley events.</p>
	<%= link_to "Register now!", '#', class: "btn btn-primary btn-lg" %>
</div>
