<div>
	<h1>Welcome to the 'Blue Troll' application!</h1>
	<h2>The WEB application allowing to manage participants and support ticket distribution for Blue Trolley events.</h2>
	<%= link_to "Sign up now!", '#' %>
</div>
