%section#team.team
  .container
    .row.m-b-lg
      .col-lg-12.text-center
        .navy-line
        %h1 Our Conductors
    .row
      .col-sm-4.wow.animated.fadeInLeft
        .team-member
          = render 'conductor', name: 'Marina Gurevich', avatar: 'marina_gurevich', email: 'marina_gur@yahoo.com'

      .col-sm-4
        .team-member.wow.animated.zoomIn
          = render 'conductor', name: 'Alex Shaykevich', avatar: 'mister_fix', small: false, title: 'Zavhoz',
            facebook: 'https://www.facebook.com/aleksandr.shaykevich', email: 'alexshayk@yahoo.com'

      .col-sm-4.wow.animated.fadeInRight
        .team-member
          = render 'conductor', name: 'Rita Yeliseyev', title: 'Financier', email: 'ryeliseyev@gmail.com'
