%section#team.team
  .container
    .row.m-b-lg
      .col-lg-12.text-center
        .navy-line
        %h1 Our Conductors
    .row
      .col-sm-4.wow.animated.fadeInLeft
        .team-member
          = image_tag 'landing/avatar3.jpg', class: 'img-responsive img-circle img-small'
          %h4
            Marina Gurevich
          %ul.list-inline.social-icon
            %li
              %a{ href: '#'}
                %i.fa.fa-at
            %li
              %a{ href: '#' }
                %i.fa.fa-facebook
            %li
              %a{ href: '#' }
                %i.fa.fa-linkedin

      .col-sm-4
        .team-member.wow.animated.zoomIn
          = image_tag 'landing/mister_fix.jpg', class: 'img-responsive img-circle'
          %h4
            Alex Shaykevich
          %p Zavhoz
          %ul.list-inline.social-icon
            %li
              %a{ href: '#'}
                %i.fa.fa-at
            %li
              %a{ href: 'https://www.facebook.com/aleksandr.shaykevich', target: '_blank' }
                %i.fa.fa-facebook
            %li
              %a{ href: '#' }
                %i.fa.fa-linkedin

      .col-sm-4.wow.animated.fadeInRight
        .team-member
          = image_tag 'landing/avatar3.jpg', class: 'img-responsive img-circle img-small'
          %h4
            Rita Yeliseyev
          %p Financier
          %ul.list-inline.social-icon
            %li
              %a{ href: '#'}
                %i.fa.fa-at
            %li
              %a{ href: '#' }
                %i.fa.fa-facebook
            %li
              %a{ href: '#' }
                %i.fa.fa-linkedin
