.table-responsive
  %table#participants.hover.order-column.row-border.stripe
    %thead
      %tr
        %th #
        %th Name
        %th Email
        %th Age
        %th Actions

    %tbody
      = render participants
