<h1>Participants:</h1>
<table class="table table-bordered table-striped table-hover">
	<thead>
		<tr>
			<th class="span1">#</th>
			<th class="span3">Last Name</th>
			<th class="span3">First Name</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		<% @participants.each.with_index do |p, idx| %>
			<tr>
				<td><%= idx+1 %></td>
				<td><%= p.last_name %></td>
				<td><%= p.first_name %></td>
				<td><%= link_to "Delete", '#', class: "btn btn-small btn-primary" %></td>
			</tr>
		<% end %>
	</tbody>
</table>
