%section#contact.gray-section.contact
  .container
    .row.m-b-lg
      .col-lg-12.text-center
        .navy-line
        %h1 Contact Us

    .row.m-b-lg
      .col-lg-3.col-lg-offset-3
        %address
          %strong
            %span.navy Delaware Water Gap KOA Campground
          %br
          227 Hollow Road
          %br
          East Stroudsburg, PA 18302
          %br
          %strong
            =link_to 'Get Google Directions', "https://www.google.com/maps/dir/''/koa+campground+delaware+water+gap/@41.0497396,-75.14573,12z/data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0x89c4846ec4d7b2c3:0x614fa6c6947013e7!2m2!1d-75.0756901!2d41.0497608", target: '_blank'

    .row
      .col-lg-12.text-center
        %a.btn.btn-primary{ href: 'mailto:bluetrolleyclub@yahoo.com' } Send us mail
        %p.m-t-sm Or follow us on social platform
        %ul.list-inline.social-icon
          %li
            %a{ href: '#'}
              %i.fa.fa-twitter
          %li
            %a{ href: 'https://www.facebook.com/groups/215693651825858/', target: '_blank' }
              %i.fa.fa-facebook
          %li
            %a{ href: '#' }
              %i.fa.fa-linkedin

      .row
        .col-lg-8.col-lg-offset-2.text-center.m-t-lg.m-b-lg
          %p
            %strong &copy; 2009-2016 Blue Trolley Club
            %br
