- provide(:title, 'Home')

%h1 16th Blue Trolley event is coming!
%br
%p
  %h4
    %strong When:
    2016 Friday, June 3, 3 pm - Sunday, June 5, 2pm.
    %br
  %h4
    %strong Where:
    Delaware Water Gap Campground KOA (120 miles from NYC).

%br
  = link_to signup_path, class: "btn btn-primary btn-lg" do
    %i.fa.fa-plus
    Register for NEW users

  = link_to login_path, class: "btn btn-success btn-lg" do
    %i.fa.fa-sign-in
    Log In for EXISTING users
