<div class="shadowed-form">
  <table class="table table-bordered table-striped table-hover table-condensed">
    <thead>
      <tr>
        <th class="bt-col-2">#</th>
        <th class="bt-col-4">Name</th>
        <th class="bt-col-4">Email</th>
        <% if show_crew %>
          <th class="bt-col-4">Crew</th>
        <% end %>
        <th class="bt-col-1">Age</th>
        <th>Status</th>
        <th class="bt-col-3">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% participants.each.with_index do |participant, idx| %>
        <tr id="participant_<%= participant.id.to_s %>" class="<%= participant_class(participant) %>">
          <%= render 'shared/participant', participant: participant, index: idx, show_crew: show_crew %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
