.table-responsive
  %table#events.hover.order-column.row-border.stripe
    %thead
      %tr
        %th Event Name
        %th Start Date
        %th Event Type
        %th Address
        %th Actions

    %tbody
      - @events.each do |e|
        %tr= render event, event: e
