- provide :view, :events
- provide :title, 'Events'
= render 'events'

%br
- if current_user.admin?
  = link_to new_event_path, class: 'btn btn-primary' do
    %i.fa.fa-plus-circle
    New Event
%br
%br
