.table-responsive
  %table#event_crews.hover.order-column.row-border.stripe
    %thead
      %tr
        %th #
        %th Crew Name
        %th Native Name
        %th Crew Lead
        %th Total (A/C/B)
        %th Paid
        %th Actions

    %tbody
      = render @event.crews
