- provide :view, :events
- provide :title, 'Event Crews'

.ibox.float-e-margins
  .ibox-title
    %h5
      Event Crews
    .ibox-tools
      %a.collapse-link
        %i.fa.fa-chevron-up
      %a.dropdown-toggle{ href: '#', data: { toggle: 'dropdown' }}
        %i.fa.fa-wrench
      %ul.dropdown-menu.dropdown-user
      %a.close-link
        %i.fa.fa-times

  .ibox-content
    = render 'crews'
    = link_to new_crew_path, class: 'btn btn-primary' do
      %i.fa.fa-user-plus
      New Crew
