/*
  Eithery Lab, 2016.
  Contains common SCSS styles for Blue Trolley web app.
*/

.debug_dump {
  margin: 20px 40px 20px 40px;
}


.btn-landing-header {
  margin-right: 20px;
  margin-bottom: 20px;
}


// Bootstrap combobox plugin
.combobox + .dropdown-menu {
  font-size: 13px;
}
.combobox-container .form-control-feedback {
  right: -30px;
}
