
$grayMediumLight: #eaeaea;
$grayLight: #999;
$gray: #555;
$grayDarker: #222;
$grayLighter: #eee;
$tableFont: Calibri;


.bt-img {
	margin-right: 1px;
	margin-left: 1px;
}


.bt-img-reduced {
	height: 22px;
}


.bt-actions {
	text-align: left;
}


.bt-bold-cell {
	font-weight: bold;
}


.bt-total {
	font-size: 1.5em;
}


.bt-onsite {
	color: #006600;
}


.bt-registered {
	color: #660000;
}
