/*@import 'bootstrap';*/

/* mixins, variables, etc. */
$grayMediumLight: #eaeaea;
$grayLight: #999;
$gray: #555;
$grayDarker: #222;
$grayLighter: #eee;
$tableFont: Calibri;


/* universal */

body {
	padding-top: 60px;
}

section {
	overflow: auto;
}

textarea {
	resize: vertical;
}

.center {
	text-align: center;
	h1 {
		margin-bottom: 10px;
		font-size: 2.3em;
	}
}


/* typography */

h1, h2, h3, h4, h5, h6 {
	line-height: 1;
}

h1 {
	font-size: 2.5em;
	letter-spacing: -1px;
	margin-bottom: 30px;
	font-family: Calibri;
	text-shadow: 0 0 1px rgba(0,0,0,0.3);
}

h2 {
	font-size: 1em;
	letter-spacing: -1px;
	margin-bottom: 30px;
	text-align: center;
	font-weight: normal;
	color: $grayLight;
}

p {
	font-size: 1.1em;
	line-height: 1.7em;
}


/* header */

#logo {
	float: left;
	margin-right: 10px;
	font-size: 1.7em;
	color: white;
	text-transform: uppercase;
	letter-spacing: -1px;
	padding-top: 12px;
	font-weight: bold;
	line-height: 1;
	&:hover {
		color: white;
		text-decoration: none;
	}
}


/* footer*/

.footer {
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid $grayMediumLight;
	color: $grayLight;
	a {
		color: $gray;
		&:hover {
			color: $grayDarker;
		}
	}
	small {
		float: left;
	}
	ul {
		float: right;
		list-style: none;
		li {
			float: left;
			margin-left: 15px;
		}
	}
}


/* sidebar */

aside {
	section {
		padding: 10px 0;
		border-top: 1px solid $grayLighter;
		&:first-child {
			border: 0;
			padding-top: 0;
		}
		span {
			display: block;
			margin-bottom: 3px;
			line-height: 1;
		}
		h1 {
			font-size: 1.6em;
			text-align: left;
			letter-spacing: -1px;
			margin-bottom: 3px;
		}
	}
}

.gravatar {
	float: left;
	margin-right: 10px;
}


/* Blue Trolley specific assets. */

.bt-img {
	margin-right: 2px;
	margin-left: 2px;
}


.bt-img-reduced {
	height: 22px;
}

.bt-img {
	margin-right: 2px;
	margin-left: 2px;
}

.bt-actions {
	text-align: left;
}


.bt-table-cell {
	font-family: $tableFont;
	font-size: 1.1em;
}


.bt-bold-cell {
	font-weight: bold;
}


.bt-stats {
	font-family: $tableFont;
	font-size: 1.2em;
	font-weight: bold;
	text-shadow: 0 0 1px rgba(0,0,0,0.3);
}


.bt-total {
	font-size: 1.5em;
}


.bt-onsite {
	color: #006600;
}


.bt-registered {
	color: #660000;
}
