.table-responsive
  %table#event_participants.hover.order-column.row-border.stripe
    %thead
      %tr
        %th #
        %th Name
        %th Email
        %th Crew
        %th Status
        %th Actions

    %tbody
      = render current_user.event_participants_at(@event)
