.footer
  .pull-right
    %small Blue Trolley, &copy; 2009-2016
  #questions
    %small
      Questions? Please contact
      = link_to 'bluetrolleyclub@yahoo.com', "mailto:bluetrolleyclub@yahoo.com"
